.block-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    padding: 2px;
}

.block-image{
    width: 50%;
    margin-right: 10px;
}
.contact-image{
    width: 100%;
    border-radius: 10%;
}

.contact-summary{
    width: 100%;
    background: lightgrey;
    padding: 4%;
}

div > p {
    font-size: 30px;
}

div[class^="contact-summary"] p {
    background-color: yellow;
}
p[class$="bold"] {
    color: blue;
}
div[class="block-contacts"] {
    background-color: orange;
}
