.banner{
    width: 100%;
}

.parking-article{
    font-size: 30px;
}

.our-partners{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.our-partners-logo{
    width: 95%;
    border-radius: 50%;
}

.partner-block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

q:lang(de) { quotes: "\201E" "\201C"; }
q:lang(en) { quotes: "\201C" "\201D"; }
q:lang(fr), q:lang(ru) { quotes: "\00AB" "\00BB"; }