.block-privacy-policy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    padding: 2px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}


/* Не посещенные ссылки */
.content-link:link {
  color: red;
  text-decoration: none;
}

/* Посещенные ссылки */
.content-link:visited {
  color: yellow;
  text-decoration: none;
}

/* Наведение курсора на ссылку */
.content-link:hover {
  color: blue;
  text-decoration: underline;
}

/* Активные (нажатые) ссылки */
.content-link:active {
  color: green;
}

/* Ссылки в фокусе */
.content-link:focus {
 color: darkgreen;
}

.my-ul li:last-child{
    background-color: green;
    color: yellow;
}

.my-ul li:first-child{
    background-color: teal;
    color: deeppink;
    font-size: 50px;
}

.my-ul li:nth-child(2){
    background-color: pink;
}

.full-prop-for-text{
    padding: 2px;
    margin: 2px;
    text-align: left;
    text-indent: 20px;
    line-height: 150%;
    letter-spacing: 3px;
    word-spacing: 10px;
    word-wrap: break-word;
    font-family: Times New Roman;
    text-transform: capitalize;
    font-variant: small-caps;
}