.my-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-align-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.my-align-left{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.main-container{
    margin: 0;
    padding: 0 5% 0 5%;
    width: 100%;
}